<h1>CINEMA CRUD</h1>
<p>Initiation 'Ruby On Rails' !</p>
<p>Variable du controller : '<%= @variable %>'</p>

<% if @variable>3 %>
    variable supp à 3
<% else%>
    variable inf ou eq à 3

<% end %>
<p>
boucle de n fois où n = variable : 
<% @variable.times do |i| %>
    <%= i %>
<% end %>

</p>